<div class="container">
  <div class='col-md-12 row'>
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "Edit profile", edit_user_path(current_user), class: 'btn btn-info'%></li>
      <li><%= link_to "Admin Panel", admin_root_path, class: 'btn btn-info' if current_user.admin?%></li>
      <li><%= link_to "Your geekorating", user_test_suits_path(current_user), class: 'btn btn-info'%></li>
      <li><%= link_to "Create new topic", new_topic_path(current_user), class: 'btn btn-info' if current_user.admin?%></li>
      <li><%= link_to "Create new question", new_question_path, class: 'btn btn-primary'%></li>
    </ul>
    <hr/>
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="center-text">Create Question!</h2>

    <%= form_for @question do |f| %>
      <div class="field form-group">
        <%= f.label :topic_id %><br />
        <div class="dropdown">
            <%= f.collection_select :topic_id, Topic.all, :id, :name,
  {prompt: "Select Topic..."}, {class: 'btn btn-default dropdown-toggle'} %>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :difficulty %><br />
        <%= f.number_field :difficulty, class: "form-control", within: 1..7 %>
      </div>

      <div class="field form-group">
        <%= f.label :condition %><br />
        <%= f.text_area :condition, rows: "10", class: "form-control" %>
      </div>
      <hr>
    <%= f.fields_for :answers do |builder| %>
      <%= render partial: 'answer_fields', locals: {f: builder} %>
    <% end %>
        <%= link_to_add_fields "Add Answer", f, :answers  %>

        <div class="actions">
        <%= f.submit "Create!", class: "btn btn-primary" %>
        <%= link_to("Back", :back, class: "btn btn-info") %>
      </div>
    <% end %>

    </div>
  </div>
</div>