<div class="container">
  <div class='col-md-12 row'>
    <div class="btn-group pull-right">
      <% if @question.user == current_user %>
          <%= link_to("Edit", [:edit, @question], class: "btn btn-info") %>
      <% end %>
      <%= link_to "New question", new_question_path, class: 'btn btn-info'%>
      <%= link_to "Back to profile", user_path(current_user), class: 'btn btn-primary'%>
    </div>
    <hr/>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="center-text">Thank you for your awesome question!</h2>
<br />
        <div class="field form-group">
          <p>Topic:  <%= @question.topic.name %></p>
        </div>

        <div class="field form-group">
          <p>Difficulty:  <%= @question.difficulty %></p>
        </div>

        <div class="field form-group">
          <p>Condition:  <%= markdown(@question.condition) %></p>
        </div>

        <div class="field form-group">
          <p>Answers: <ul>
        <% @question.answers.each do |answer| %>
          <li><%= markdown(answer.solution) %><% if @question.user == current_user && answer.answer_valid %> (<em>valid</em>)<% end %></li>
        <% end %>
      </ul></p>
        </div>
  </div>
</div>
