<h1>Editind User Profile</h1>


<%= form_for current_user, :html => {:multipart => true} do |f| %>
    <p>
      <%= image_tag(current_user.avatar_url) if current_user.avatar? %>
      <%= f.file_field :avatar %>

      <%= f.hidden_field :avatar_cache %>

    <p>
      <label>
        <%= f.check_box :remove_avatar %>
        Remove avatar
      </label>
    </p>


      <p> <%= link_to "User Name"%> <%=current_user.username %>

      <%= f.text_field (:username) %>

    <div class="actions">
              <%= f.submit %>
      </div>
    </p>

<% end %>

<%= link_to 'Show Profile', user_path(current_user)%>
