<div class="container">
  <div class='col-md-12 row'>
    <div class="btn-group pull-right">
      <a><%= link_to "New question", new_question_path, class: 'btn btn-info'%></a>
      <a><%= link_to "Back to profile", user_path(current_user), class: 'btn btn-primary'%></a>
    </div>
    <hr/>
  </div>
  <h3 style= "font-weight: bold">Your questions</h3>
  <br>
  <% if @questions.count == 0 %>
    <p>You have not created any questions yet</p>
  <% else %>
    <div class='col-md-12 row'>
      <ol>
        <% @questions.each do |question| %>
          <div class = "questions_show">
            <li>
              <strong><%=question.condition %></strong>
              <%= link_to "Edit", edit_question_path(question) if @user == current_user %>
            </li>
          </div>
          <div class="pull-right">
            <% if question.approved %>
              <span class= "glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> - Approved
            <% else %>
              <span class= "glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> - Not approved
            <% end %>
          </div>
            <ul style="list-style-type:disc">
              <% question.answers.each do |answer| %>
                <li><%= answer.solution %> (<%= answer.answer_valid %>)</li>
              <% end %>
            </ul>
        <hr/>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
