<p id="notice"><%= notice %></p>

<p> <%= "User Email"%>
  <%=current_user.email %>

<p> <%= "User Name"%>
  <%=current_user.username %>
</p>
<p><%="Avatar" %>

  <%= image_tag(current_user.avatar.url) if current_user.avatar? %>
  <%= "Thumb of Avatar" %>
  <%= image_tag(current_user.avatar.url(:thumb)) if current_user.avatar? %>

</p>

<p>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
</p>
<p>
<%= link_to 'Back to Welcome Page', root_path(current_user) %>
</p>