<div class="container">
    <div class="row">
      <% if @user == current_user && current_user.admin? %>
        <div class='col-md-12 row'>
          <div class="btn-group pull-right">
            <a><%= link_to "New topic", new_topic_path(current_user), class: 'btn btn-info'%></a>
            <a><%= link_to "Admin panel", admin_root_path, class: 'btn btn-primary'%></a>
         </div>
         <hr/>
        </div>
      <% end %>
      <% if @user == current_user %>
        <div class='col-md-12 row'>
          <div class="btn-group pull-right">
            <a><%= link_to "New question", new_question_path, class: 'btn btn-info'%></a>
            <a><%= link_to "My questions", questions_user_path(@user), class: 'btn btn-info'%></a>
            <a><%= link_to "Geekorating", user_test_suits_path(@user), class: 'btn btn-info'%></a>
          </div>
          <hr/>
        </div>
      <% end %>
      <div class="col-md-4 br">
        <font size="6"><%= @user.username || "&lt; Unt1tl3d User &gt;".html_safe %></font> <%= link_to "Edit", edit_user_path(current_user) if @user == current_user %>
        <div class="thumbnail">
          <%= user_avatar_tag(@user) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6"><font size="5">Skills: </font> <%= link_to "Edit", user_skills_path(current_user) if @user == current_user %>
          <% if @user.topics.count == 0 %>
            <p>You have not chosen any skills yet</p>
          <% else %>
            <div class="skills">
              <ul class="list-unstyled">
                <%  @user.topics.each do |topic| %>
                  <li><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <%= topic.name%></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
