<div class="row">
	<div class="col-md-2">
		<h1><%=current_user.username%></h1>
        <h1><%=current_user.email%></h1>
	</div>
	<div class="col-md-10" style="padding-top:24px;"><button type="button" class="btn btn-default btn-md"><%= link_to 'Edit your Profile', edit_user_path(current_user) %></button>
	</div>
</div>
<br>

<div align="center">
<button type="button" class="btn btn-default btn-lg"><%= link_to "Create New Question", new_question_path %></button> 
</div>
<br>
<br>
<br>

<div class="row">
	<div class="col-md-5">
		<p>Avatar</p>
		<h4> <%=current_user.passed_tests%> passed tests</h4>
	</div>
	<div class="col-md-7">
		<p>Average score: <%=current_user.average_score%></p>
		<p>Maximum score: <%=current_user.maximum_score%></p>
		<p>Minumum score: <%=current_user.minimum_score%></p>
		<p>Number of approved questions: <%=current_user.approved_questions%></p>
	</div>
</div>

<br>

<br>
<br>







  


