<div class="container">
  	<h1 class="jumbotron center-text welcome-header-one">Welcome to Geekometer application!</h1>
  <div class="row">
  	<div class="welcome-main-area">
  	  <div class="col-md-6">
  	  	<ul class="nav">
  	  		<li role="presentation">
  	  			<p><%= link_to("Admin Panel", admin_root_path) %></p>
  	  		</li>
          <hr>
  	  		<li role="presentation">
  	  			<p><%= link_to("Create New Topic", controller: "topics", action: "new") %></p>
  	  		</li>
          <li role="presentation">
            <p><%= link_to "Create New Question", new_question_path %></p>
          </li>
          <li role="presentation">
            <p><%= link_to "Pass the Test!", new_user_test_suit_path(current_user) %></p>
          </li>
          <li role="presentation">
            <p><%= link_to "Edit Your Profile" , edit_user_path(current_user) %></p>
          </li>
  	  		<hr>
  	  	</ul>
  	  </div>
  	</div>
  </div>
</div>
