<div class='container'>
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class='center-text'><%= t 'devise.invitations.edit.header' %></h2>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>
    <div class="field form-group">
      <p><%= f.label :password %><br />
        <%= f.password_field :password, autofocus: true, class: "form-control" %></p>
    </div>
    <div class="field form-group">    
      <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control" %></p>
    </div>
      <p div class="actions"><%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>