<div class='container'>
  <div class='col-md-12 row'>
    <div class="btn-group pull-right">
      <a><%= link_to "Back to profile", user_path(current_user), class: 'btn btn-primary'%></a>
    </div>
    <hr/>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class='center-text'><%= t "devise.invitations.new.header" %></h2>

    <h3 style="text-align:right">You have total <%= current_user.invitation_limit %> invites</h3>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
      <%= devise_error_messages! %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="field form-group">
        <p><%= f.label field %><br />
        <%= f.text_field field, autofocus: true, class: "form-control" %></p>
      </div>
    <% end -%>

      <p div class="actions">
        <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
        <%= link_to("Back", :back, class: "btn btn-info") %>
      </p>
    <% end %>
  </div>
</div>
