<div class='container row'>
  <div class='col-md-12 row'>
    <ul class="nav nav-pills pull-right">
      <a><%= link_to "Back to Profile", user_path(current_user), class: "btn btn-info"%></a>
    </ul>
    <hr/>
  </div>
    <% if  @test_suits.empty? %>
      <div class="col-md-12">
        <strong>You did not complete any tests yet!!!</strong>
      </div>
      <hr/>
  </div>
  <% if  @test_suits.empty? %>
    <div class="col-md-12">
      <strong>You did not complete any tests yet!!!</strong>
    </div>
  <% else %>
    <div class="col-md-6">
      <br>
      <br>
        <% test_correct_count = 0%>
        <% questions_correct_count = 0%>
        <% @test_suits.each_with_index do |test_suit, index|%>
            <div>
              <p>
                <%="Test #"%>
                <%= [index+1, test_suit.created_at.strftime("Passed On %m-%d-%Y")].join(" ") %>
                <% test_correct_count += test_suit.stat_test_correct_count.to_i%>
                <% questions_correct_count += test_suit.stat_question_correct_count.to_i%>
                <code>
                <%= "  With Result  " %>
                  <%= test_suit.stat_test_correct_count%> / <%= test_suit.stat_question_correct_count%>
                </code>
                <%= link_to("Show", user_test_suit_path(test_suit.user, test_suit) , class: "btn btn-info") %>

              </p>
            </div>
        <%end%>
    </div>

    <div class="col-md-6">
      <br>
      <br>
      <div id=graph></div>
      <script>


          Morris.Donut({
              element: 'graph',
              data: [
                  {
                      value: <%=100 * test_correct_count / questions_correct_count%>,
                      label: 'Correct'
                  },{
                      value: <%=100 - 100 * test_correct_count / questions_correct_count%>,
                      label: 'Incorrect'
                  }
              ],
              backgroundColor: '#ccc',
              colors: [
                  '#0BA462',
                  '#d9534f'
              ],
              formatter: function (x) {
                  return x + "%"
              }
          });
      </script>
    </div>
  <% end %>
</div>
