<div class='container'>
  <div class='col-md-12 row'>
<div class="tabbed">
  <% questions = @test_suit.questions %>
  <% questions.each_with_index do |question, i| %>
      <% element_id = "tab-nav-#{i+1}" %>
      <input type="radio" name="tabs" id="<%= element_id %>" <% if i==0 %>checked<%end%>>
      <label class="btn btn-default" for="<%= element_id %>">Question <%= i + 1 %></label>
  <% end %>
   <%= form_tag  user_test_suit_complete_path(test_suit_id: @test_suit.id), method: 'post', class: "tabs" do %>
            <p id="complete_button" ><%= submit_tag "Complete Test", class: 'btn btn-danger' %></p>
      <br>
      <br>
      <% questions.each_with_index do |question, i| %>
          <div>
            <h2>Question <%= i + 1 %></h2>
            <% if question.answers.where(answer_valid: true).count > 1 %>
                <h6>(Has multiple correct answers)</h6>
            <% end %>
            <ul class="answer_left" float="right" list-style-type="none">
              <% question.answers.each_with_index do |answer, j| %>
                  <% element_id = "tab_question_#{question.id}_#{answer.id}" %>
                  <li>
                    <input type="checkbox" name="test_suit_answers[]" id="<%= element_id %>" value="<%= answer.id %>">
                    <label for="<%= element_id %>"><%= markdown(answer.solution) %></label></li>
              <% end %>
            </ul>
            <p>
              <%= markdown(question.condition) %>
            </p>
          </div>
      <% end %>
  <% end %>
</div>
</div>
