<div class='container'>
  <div class='col-md-12 row'>
    <div class="btn-group pull-right">
      <a><%= link_to "Back to statistic", user_test_suits_path(current_user), class: 'btn btn-info'%></a>
      <a><%= link_to "Back to profile", user_path(current_user), class: 'btn btn-primary'%></a>
    </div>
  </div>
  <div class="col-md-6">
    <hr/>
    <h3>Your score is:
      <code>
          <%= @test_suit.stat_test_correct_count%> / <%= @test_suit.stat_question_correct_count%>
      </code>
    </h3>
      <ol>
      <% @test_suit.questions.each do |question|%>
      <li class="question"><%= markdown(question.condition) %>
        <ol>
        <% question.answers.each_with_index do |answer, index|%>
        <li class="<%= answer.answer_valid && 'red' %>"><%= markdown((@user_answers.include?(answer.id) ? '✓ ' : '') + answer.solution) %></li>
        <% end %>
        </ol>
      </li>
    <% end %>
    </ol>
  </div>
  <div class="col-md-6">
    <br>
    <br>
    <div id=graph></div>
    <script>
        Morris.Donut({
            element: 'graph',
            data: [
                {
                    value: <%= 100 * @test_suit.stat_test_correct_count.to_i / @test_suit.stat_question_correct_count.to_i %>,
                    label: 'Correct'
                },{
                    value: <%= 100 - 100 * @test_suit.stat_test_correct_count.to_i / @test_suit.stat_question_correct_count.to_i %>,
                    label: 'Incorrect'
                }
            ],
            backgroundColor: '#ccc',
            colors: [
                '#0BA462',
                '#d9534f'
            ],
            formatter: function (x) {
                return x + "%"
            }
        });
    </script>
  </div>
</div>
